In [1]:
import pandas as pd

In [3]:
df = pd.read_pickle('final.pkl')

In [5]:
data = df[['category_code','brand','purchase']]

In [7]:
data.head(-1)

                        category_code    brand  purchase
0                electronics.video.tv    artel         0
1              electronics.smartphone  samsung         0
2             auto.accessories.player      jvc         0
3              electronics.smartphone    apple         0
4              electronics.smartphone   xiaomi         0
...                               ...      ...       ...
10443700     appliances.kitchen.grill  philips         0
10443701     construction.tools.light   huawei         0
10443702              accessories.bag  pampers         0
10443703  electronics.audio.headphone       hp         0
10443704     construction.tools.light    apple         0

[55471380 rows x 3 columns]

In [ ]:
category_splits = data.category_code.str.split('.', expand=True)

In [13]:
# To see the principal categories
category_splits.head(-1)

                     0            1          2     3
0          electronics        video         tv  None
1          electronics   smartphone       None  None
2                 auto  accessories     player  None
3          electronics   smartphone       None  None
4          electronics   smartphone       None  None
...                ...          ...        ...   ...
10443700    appliances      kitchen      grill  None
10443701  construction        tools      light  None
10443702   accessories          bag       None  None
10443703   electronics        audio  headphone  None
10443704  construction        tools      light  None

[58894770 rows x 4 columns]

In [17]:
purchase = data['brand','purchase']

In [55]:
df_unido = pd.concat([category_splits, purchase], axis=1)

In [57]:
df_unido.head(-1)

                     0            1          2     3  purchase
0          electronics        video         tv  None         0
1          electronics   smartphone       None  None         0
2                 auto  accessories     player  None         0
3          electronics   smartphone       None  None         0
4          electronics   smartphone       None  None         0
...                ...          ...        ...   ...       ...
10443700    appliances      kitchen      grill  None         0
10443701  construction        tools      light  None         0
10443702   accessories          bag       None  None         0
10443703   electronics        audio  headphone  None         0
10443704  construction        tools      light  None         0

[58894770 rows x 5 columns]

In [59]:
category = df_unido.to_pickle('categories_purchase.pkl')

In [19]:
category_levels_unique_data = data.drop_duplicates()

In [21]:
category_levels_unique_data.unique()

array(['electronics.video.tv', 'electronics.smartphone',
       'auto.accessories.player', 'appliances.kitchen.meat_grinder',
       'electronics.clocks', 'electronics.audio.subwoofer',
       'appliances.kitchen.washer', 'electronics.audio.headphone',
       'appliances.kitchen.refrigerators',
       'computers.peripherals.printer', 'apparel.shoes',
       'furniture.bedroom.bed', 'appliances.kitchen.dishwasher',
       'furniture.living_room.cabinet', 'computers.notebook',
       'computers.desktop', 'computers.components.power_supply',
       'appliances.ironing_board', 'appliances.environment.vacuum',
       'electronics.telephone', 'appliances.environment.air_conditioner',
       'electronics.camera.video', 'electronics.tablet',
       'computers.components.motherboard', 'appliances.kitchen.blender',
       'kids.carriage', 'kids.toys', 'appliances.kitchen.kettle',
       'computers.peripherals.monitor', 'appliances.kitchen.oven',
       'appliances.kitchen.hood', 'appliances.environment.water_heater',
       'apparel.shoes.keds', 'appliances.kitchen.mixer',
       'auto.accessories.alarm', 'appliances.personal.hair_cutter',
       'appliances.environment.air_heater', 'auto.accessories.parktronic',
       'construction.tools.drill', 'sport.bicycle',
       'computers.components.cpu', 'construction.tools.generator',
       'appliances.kitchen.microwave', 'construction.tools.saw',
       'auto.accessories.videoregister',
       'computers.components.videocards', 'apparel.underwear',
       'computers.components.memory', 'appliances.kitchen.hob',
       'electronics.audio.music_tools.piano', 'sport.trainer',
       'accessories.bag', 'electronics.audio.acoustic',
       'computers.components.cooler', 'appliances.sewing_machine',
       'appliances.kitchen.coffee_machine', 'furniture.kitchen.chair',
       'apparel.shoes.sandals', 'construction.components.faucet',
       'appliances.kitchen.grill', 'computers.components.hdd',
       'kids.fmcg.diapers', 'accessories.wallet',
       'construction.tools.welding', 'computers.peripherals.mouse',
       'appliances.iron', 'furniture.living_room.chair',
       'furniture.living_room.sofa', 'appliances.personal.scales',
       'kids.skates', 'appliances.kitchen.juicer',
       'country_yard.cultivator', 'computers.peripherals.keyboard',
       'apparel.shirt', 'furniture.kitchen.table',
       'medicine.tools.tonometer', 'apparel.shoes.moccasins',
       'electronics.video.projector', 'electronics.audio.microphone',
       'construction.tools.pump', 'apparel.scarf', 'sport.tennis',
       'apparel.dress', 'apparel.costume', 'construction.tools.light',
       'computers.peripherals.camera', 'sport.snowboard',
       'computers.ebooks', 'kids.swing', 'construction.tools.painting',
       'kids.dolls', 'electronics.camera.photo', 'apparel.shoes.step_ins',
       'appliances.kitchen.steam_cooker', 'furniture.bathroom.bath',
       'apparel.tshirt', 'auto.accessories.winch', 'apparel.jeans',
       'appliances.personal.massager', 'furniture.universal.light',
       'construction.tools.soldering', 'furniture.bedroom.pillow',
       'auto.accessories.compressor', 'auto.accessories.radar',
       'appliances.environment.fan', 'furniture.bedroom.blanket',
       'appliances.kitchen.toster', 'apparel.trousers', 'apparel.sock',
       'appliances.kitchen.coffee_grinder', 'furniture.bathroom.toilet',
       'accessories.umbrella', 'stationery.cartrige',
       'apparel.shoes.slipons', 'country_yard.lawn_mower',
       'apparel.skirt', 'apparel.shoes.espadrilles',
       'apparel.shoes.ballet_shoes', 'country_yard.furniture.hammok',
       'apparel.jumper', 'auto.accessories.anti_freeze', 'apparel.jacket',
       'sport.ski', 'apparel.belt', 'apparel.shorts',
       'country_yard.furniture.bench', 'apparel.glove',
       'appliances.kitchen.fryer', 'construction.tools.screw', nan,
       'apparel.pajamas', 'appliances.environment.climate',
       'sport.diving', 'furniture.living_room.shelving',
       'computers.components.sound_card', 'auto.accessories.light',
       'construction.tools.axe', 'electronics.audio.dictaphone',
       'country_yard.watering', 'computers.components.cdrw',
       'stationery.paper'], dtype=object)

In [23]:
df.category_code.nunique()

140

In [27]:
df.category_id.nunique()

1228

In [31]:
categories = category_splits[0].drop_duplicates()

In [33]:
categories.count()

13

In [37]:
categories.unique()

array(['electronics', 'auto', 'appliances', 'computers', 'apparel',
       'furniture', 'kids', 'construction', 'sport', 'accessories',
       'country_yard', 'medicine', 'stationery', nan], dtype=object)